/*
Theme Name: SPS DGTL
Theme URI: http://spsdgtl.com/
Author: SPS DGTL
Author URI: http://spsdgtl.com/
Description: A theme for the SPS DGTL website.
Version: 1.7
*/

body {
    margin: 0;
    /*! background: white; */
}

:root {
    --branding-blue: #afbfde;
    --branding-blue-text: #91a8d2;
    --branding-blue-dark: #99a9c6;
    --branding-yellow: #fee587;
    --branding-yellow-dark: #e6d58d;
    --branding-blue-opacity-98: rgba(175, 191, 222, 0.95);
    --branding-yellow-opacity-98: rgba(254, 229, 135, 0.95);
}


::-moz-selection {
    background-color: var(--branding-blue);
    color: white;
}

::selection {
    background-color: var(--branding-blue);
    color: white;
}

a:link,
a:visited {
    color: var(--branding-blue-text);
}

ul {
    list-style-type: none;
}

ul li {
    position: relative;
}

ul li::before {
    content:'\f0c8';

    position: absolute;
    top: 0.4rem;
    left: -1rem;

    font-family: FontAwesome;
    font-size: 0.6em;
}

#site-navigation {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    height: 0;
    width: 0;

    padding: 1rem 1rem 1rem;

    background: linear-gradient(to bottom, var(--branding-blue-opacity-98) 0%, var(--branding-yellow-opacity-98) 80%);

    transition: opacity 0.6s, height 0.6s step-end, width 0.6s step-end;
}

.menu-open #site-navigation {
    opacity: 1;
    overflow: hidden;
    pointer-events: all;

    height: 100%;
    width: 100%;

    transition: opacity 0.6s, height 0.6s step-start, width 0.6s step-start;
}

#menu-toggle {
    cursor: pointer;
    display: block;
    pointer-events: all;
    position: fixed;
    top: 0.8rem;
    left: 0.8rem;
    z-index: 2;

    height: 3rem;
    width: 3rem;

    border: 0.2rem solid rgba(0, 0, 0, 0.7);
    padding: 0.55rem 0;

    background: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.6rem;

    transition: border-color 0.3s, background 0.3s, color 0.3s;
}

#menu-toggle:hover,
#menu-toggle:focus {
    border-color: black;

    background: white;
    color: black;

    transition: border-color 0.15s, background 0.15s, color 0.15s;
}

.menu-open #menu-toggle {
    background: rgba(255, 255, 255, 0.7);
}

#menu-container {
    align-self: center;
    display: flex;

    max-height: 100%;
    max-width: 100%;
    width: 75rem;
}

#home-link {
    display: flex;
    justify-content: center;

    width: 50%;
}

#home-link img {
    max-width: 25rem;
    width: 40vmax;
}

#site-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 4vw 2vw;
}

#site-menu a {
    display: block;
    align-self: flex-start;

    color: #EEE;
    font-family: filson-pro, sans-serif;
    font-size: 5.6vw;
    text-decoration: none;
    text-transform: uppercase;

    transition: color 0.5s;
}

#site-menu a:hover {
    color: white;
}

#site-menu a::after {
    content: '';

    display: block;

    height: 0.3rem;
    width: 0;

    background-color: white;

    transition: width 0.5s;
}

#site-menu a:hover::after,
#site-menu a:focus::after {
    width: 100%;
}

@media screen and (min-width: 75rem) {
    #site-menu a {
        font-size: 4.2rem;
    }
}

@media screen and (orientation: portrait) {
    #menu-container {
        flex-direction: column;
        justify-content: space-between;
    }
    #home-link {
        height: 40vh;
        width: 100%;
    }
    #site-menu {
        height: 50%;
        text-align: center;
    }
    #site-menu a {
        display: inline;
        align-self: center;

        font-size: 8vw;
    }
}

@media screen and (max-height: 50vw) {
    #site-menu {
        padding: 8vh 2vw;
    }
    #site-menu a {
        font-size: 11.2vh;
    }
}

@media screen and (min-width: 75rem) and (min-height: 37.5rem) {
    #site-menu a {
        font-size: 4.2rem;
    }
}

#main-placeholder {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

    width: 100%;

    background-color: white;
    color: white;
    font-family: filson-pro, sans-serif;
}

main > article {
    align-self: center;
}

#site-container {
    transition: filter 0.6s;
}

.menu-open #site-container {
    filter: blur(0.5rem);
}

#site-header {
    align-self: center;
    display: flex;
    justify-content: center;

    max-width: 70rem;
    height: 7rem;
    width: 100%;

    font-family: filson-pro, sans-serif;
}

#home-link-top,
#home-link-top img {
    height: 100%;
}

#site-menu-top {
    display: none;
}

@media screen and (min-width: 40rem) {
    #site-header {
        justify-content: space-between;
    }

    #site-menu-top {
        display: flex;
    }

    body:not(.home) #menu-toggle {
        display: none;
    }
}

#site-menu-top > * {
    align-self: flex-end;

    padding: 0.5rem 1rem;

    font-size: 1.3rem;

}

#site-menu-top a {
    text-decoration: none;
}

#site-menu-top > div {
    cursor: default;
    position: relative;

    color: var(--branding-blue-text)
}

#site-menu-top > div::after {
    content: '\f078';

    position: relative;
    top: -0.1rem;
    right: -0.5rem;

    margin-right: 0.5rem;

    font-family: FontAwesome;
    font-size: 1rem;
}

#site-menu-top > div ul {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    top: 2.8rem;
    left: 1rem;
    z-index: 2;

    max-height: 0;
    width: 25rem;

    margin: 0;
    padding: 0;

    background: white;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);

    transition: 0.3s max-height;
}

#site-menu-top > div:hover ul {
    max-height: 16rem;
}

#site-menu-top > div ul li {
    display: flex;
}

#site-menu-top > div ul li a {
    padding: 0.7rem;
}

article.bordered {
    display: flex;

    position: relative;

    min-height: 30rem;
    max-width: 90rem;
    width: 100%;

    border: 1rem solid black;
    margin: 6rem 1rem 2rem;
    padding: 3rem 1rem 1rem;

    font-size: 1.2rem;
}

@media screen and (min-width: 30rem) {
    article.bordered {
        margin: 6rem 5rem 5rem;
    }

    article.bordered.right {
        max-width: 80rem;

        margin: 4rem 0 4rem 10rem;
    }
}

article.bordered > :not(.title) {
    box-sizing: border-box;

    flex: 1 0;

    margin: 0;
    padding: 0 2rem;
}

article.bordered p {
    font-size: 1.3rem;
}

article.bordered figure .totally-an-image {
    position: absolute;

    background: radial-gradient(25rem 25rem, #000 25%, #444 100%);
}

article.bordered figure .totally-an-image:nth-child(1) {
    top: -2.5rem;
    right: -2.5rem;

    width: 35rem;
    height: 25rem;
}

article.bordered figure .totally-an-image:nth-child(2) {
    bottom: 1.5rem;
    right: 13rem;

    width: 25rem;
    height: 25rem;
}

article.full-width {
    display: flex;
    justify-content: center;

    min-height: 50vw;
    width: 100%;

    margin: 0;

    background: linear-gradient(135deg, var(--branding-yellow) 0%, var(--branding-yellow-dark) 100%);
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

article.full-width .title {
    text-align: center;
}

article.full-width .fw-internal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 50rem;

    padding: 0 1rem;
}

article.collage {
    box-sizing: border-box;
    position: relative;

    max-width: 90rem;
    height: calc(16.5rem + 40vw);
    width: 100%;

    padding: 4rem 2rem;

    font-size: 1.3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

article.collage .title {
    margin-bottom: 2rem;
    align-self: center;
}

article.collage p {
    position: relative;
    z-index: 1;

    max-width: 26rem;

    margin: 0;
    padding: 1rem;

    /*! background: rgba( 255, 255, 255, 0.9 ); */
    text-align: right;
    align-self: flex-end;
}

@media screen and (min-width: 50rem) {
    article.collage p {
        right: 3rem;

        padding-left: 0;
    }
}

article.collage p .cta {
    position: absolute;

    bottom: -4rem;
    right: 0;
}

article.collage figure {
    margin: 0;
}

article.collage figure .totally-an-image {
    position: absolute;

    background: radial-gradient(70rem 70rem, #000 25%, #444 100%);
}

article.collage figure .totally-an-image:nth-child(1) {
    left: 2rem;

    height: 40vw;
    width: 50vw;

    background: linear-gradient(135deg, var(--branding-blue) 0%, var(--branding-blue-dark) 100%);
}

article.collage figure .totally-an-image:nth-child(2) {
    right: 4rem;
    bottom: 5rem;

    height: 25vw;
    width: 60vw;
}

.title.large {
    display: inline-block;

    width: auto;

    margin: 0;
    padding: 0.5rem 1rem;

    background-color: white;
    font-family: filson-pro, sans-serif;
    font-size: 2.5rem;
    text-align: left;
}

article.bordered > .title.large {
    position: absolute;
    top: -4rem;
}

article.full-width .title.large {
    background: none;
}

.title.large.right {
    float: right;

    text-align: right;
}

@media screen and (min-width: 30rem) {
    .title.large {
        font-size: 4rem;
    }
}

.italic {
    font-style: italic;
}

.title.highlight {
    background-color: var(--branding-yellow);
    color: white
}

.cta,
a.cta {
    display: inline-block;

    border: none;
    cursor: pointer;
    padding: 0.7rem 1.1rem;

    background: var(--branding-yellow);
    color: white;
    font-family: filson-pro, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.cta.arrow::after {
    content: '\f178';

    display: inline-block;
    position: relative;
    top: 0.15rem;

    margin: 0 0 0 0.5rem;

    font-family: FontAwesome;
    font-size: 1.4rem;

    transition: margin 0.3s;
}

.cta.arrow:hover::after,
.cta.arrow:focus::after {
    margin: 0 -0.2rem 0 0.7rem;
}

.cta.alt {
    padding: 0.7rem 1.1rem;

    background: var(--branding-blue);
    color: white;
}

.cta.bw {
    border: 0.2rem solid black;
    padding: 0.5rem 0.9rem;

    background: white;
}

.cta.outline-dark {
    border: 0.2rem solid black;
    padding: 0.5rem 0.9rem;

    background: transparent;
}

.cta.outline-light {
    border: 0.2rem solid white;
    padding: 0.5rem 0.9rem;

    background: transparent;
    color: white;
}

.cta.bw.alt {
    border: none;
    padding: 0.7rem 1.1rem;

    background: black;
    color: white;
}

.cta.simple {
    background: transparent;
    border: none;
    color: black;
}

.cta.simple.alt {
    color: white;
}

#site-footer {
    display: flex;
    flex: 0;
    flex-direction: column;
    flex-wrap: wrap;

    min-height: 20rem;
    width: 100%;

    background: linear-gradient(195deg, var(--branding-blue) 0%, var(--branding-yellow) 90%);
    color: white;
    font-family: filson-pro, sans-serif;
    font-size: 1.2rem;
    border-top: 0.15rem solid white;
}

#newsletter-signup {
    box-sizing: border-box;
    display: flex;
    align-self: center;
    flex-direction: column;

    width: 100%;

    border-top: 0.15rem solid white;
    border-radius: 0.06rem;
    padding: 3rem 1rem 5rem;

    color: white;
    font-family: filson-pro, sans-serif;
    font-size: 1.2rem;
    background: linear-gradient(135deg, var(--branding-blue) 0%, var(--branding-blue-dark) 100%);
    text-align: center;
}

#newsletter-signup h2 {
    font-size: 2rem;
    text-align: center;
}

#newsletter-signup-inputs {
    display: flex;
    flex-direction: column;
}

#newsletter-signup-inputs input[type="email"],
#contact-form input[type="text"],
#contact-form input[type="email"] {
    align-self: center;
    box-sizing: border-box;

    max-width: 30rem;
    width: 100%;

    border: none;
    border-bottom: 0.2rem solid white;
    margin: 0 0 1rem 0;
    padding: 0.4rem;

    background: transparent;
    color: white;
    font-family: inherit;
    font-size: 1.4rem;
}

#newsletter-signup-inputs label[for] {
    display: none;
}

#newsletter-signup-inputs input[type="submit"],
#contact-form input[type="submit"] {
    cursor: pointer;

    border: 0.2rem solid white;
    padding: 0.5rem 0.9rem;

    background: transparent;
    color: white;
    font-family: filson-pro;
    font-size: 1rem;
    text-transform: uppercase;
}

#newsletter-signup-inputs ul,
#contact-form ul {
    padding: 0;

    font-size: 0.8em;
}

#newsletter-signup-inputs ul li::before,
#contact-form ul li::before {
    content: unset;
}

#newsletter-signup-inputs input[type="submit"] {
    align-self: center;
    width: 9rem;
}

#contact-form {
    margin: 0 0 3rem;
}

#contact-form form {
    display: flex;
    flex-direction: column;
}

#contact-form form > * {
    align-self: center;

    max-width: 40rem;
    width: 100%;
}

#contact-form label[for] {
    display: none;
}

#contact-form fieldset {
    width: 100%;

    margin-bottom: 1rem;
}

#contact-form fieldset > div {
    box-sizing: border-box;

    padding: 0 0.5rem;
}

#contact-form input[type="email"],
#contact-form input[type="text"] {
    box-sizing: border-box;

}

#contact-form textarea {
    background: transparent;
    box-sizing: border-box;
    resize: none;

    height: 16rem;
    width: 100%;

    border: none;
    border-bottom: 0.2rem solid white;
    border-radius: 0;
    margin-top: 1rem;
    padding: 0.5rem;

    color: white;
    font-family: filson-pro;
    font-size: 1.4rem;
}

#contact-form textarea:invalid {
    height: 8rem;
}

#contact-form .actions {
    text-align: center;
}

#contact-form .submitted-message {
    text-align: center;
}

#footer-sitemap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;

    padding: 2rem 2rem 0;
}

#footer-sitemap > a {
    align-self: center;
}

#footer-sitemap > a img {
    height: 16rem;
}

#footer-sitemap > div {
    align-self: center;
    display: flex;
    flex-direction: column;

    max-width: 20rem;

    padding: 1rem 0;
}

#footer-sitemap div div {
    display: flex;
    flex-direction: column;

    min-width: 8rem;

    margin-bottom: 1rem;
    padding: 0 1rem;
}

#footer-sitemap .social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 2rem;
    padding: 0;
}

#footer-sitemap .social-links a {
    font-size: 1.5rem;
}

@media screen and (min-width: 56rem) {
    #footer-sitemap > div {
        flex-direction: row;
        max-width: none;
    }
}

@media screen and (min-width: 72rem) {
    #footer-sitemap {
        flex-direction: row;
    }
}

#footer-sitemap h6 {
    margin: 0;

    font-size: 2rem;
    padding-bottom: 0.3rem;
}

#footer-sitemap a {
    display: inline-block;
    padding: 0 0 0.5rem 0.5rem;

    color: inherit;
    text-decoration: none;
}

#footer-sitemap h6 a {
    padding: 0;
}

a#footer-contact-link {
    text-align: center;
    padding: 0.5rem;
}

#footer-copyright {
    padding: 0 0 1rem;

    font-size: 0.9rem;
    text-align: center;
}
#footer-copyright a {
    color: white;
}

/**
 * Specific Pages
 **/

/* Coming soon */

#coming-soon {
    position: absolute;
    top: 1.8rem;

    margin: 0;

    color: white;
    font-family: filson-pro, sans-serif;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

#current-website {
    position: absolute;
    bottom: 1rem;

    border-bottom: 0.3rem solid white;
    margin: 0;
    padding: 1rem 0 0.1rem;

    color: white;
    font-family: filson-pro, sans-serif;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/* Home page */

.home #site-header {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: unset;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--branding-blue) 0%, var(--branding-yellow) 80%);
    transition: box-shadow 0.1s;
}

.home #site-header object {
    box-sizing: border-box;
    height: 100%;
    max-width: 120%;
}

@supports ((perspective: 10px) and (not (-webkit-overflow-scrolling: touch))) {
    .home #site-container {
        perspective: 10px;
        -webkit-perspective-origin-x: 100%;
        perspective-origin-x: 100%;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .home #site-header:not(.no-parallax) {
        position: absolute;
        bottom: 0;
        left: calc((100% - 100vw));

        height: 100vh;
        width: 100vw;

        transform: translateZ(-10px) scale(2);
        -webkit-transform-origin-x: 100%;
        transform-origin-x: 100%;
    }

    .home main {
        position: absolute;
        top: 100vh;
        transform: translateZ(0);

        min-height: 100vh;

        -webkit-transform-origin-x: 100%;
        transform-origin-x: 100%;
    }
}

.home main,
.page-id-116 main {
    box-shadow: 0 0 10vh rgba(0, 0, 0, 0.1);
}

#skip-to-main {
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: -4rem;
    right: -0.5rem;

    height: 4rem;
    width: 4rem;

    color: transparent;
    text-decoration: none;
}

#skip-to-main * {
    display: block;
    position: absolute;
    top: -0.7rem;
    left: 0;

    height: 2rem;
    width: 4rem;

    color: white;
    font-family: FontAwesome;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);

    animation: 3s infinite normal rainfall linear;
}

#skip-to-main *::after {
    content: '\f107';
}

#skip-to-main *:first-child {
    top: 0.1rem;

    animation-delay: -1s;
}

#skip-to-main *:last-child {
    top: 0.9rem;

    animation-delay: -2s;
}

@keyframes rainfall {
    0% {
        opacity: 0;
        top: -0.7rem;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 1.7rem;
    }
}

.home main,
.page-template-page_service main,
.page-template-page_creative main,
.page-template-page_learn main,
.page-template-default main {
    background: linear-gradient(270deg, var(--branding-blue) 0%, var(--branding-yellow) 100%);
}

.home #mission-statement {
    box-sizing: border-box;
    display: flex;
    justify-content: center;

    padding: 2rem 0.5rem 0;

    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    background-color: white;
    color: var(--branding-blue-text);
}

@media screen and (min-width: 40rem) {
    .home #mission-statement {
        font-size: 2.6rem;
        padding: 5rem 1rem 2rem;
    }
}

.home #mission-statement h2{
    max-width: 80rem;

    margin: 0;
}

.home #locations {
    width: 100%;

    padding: 5rem 0;

    text-align: center;
    background-color: white;
    color: var(--branding-blue-text);
}

.home #locations .illustration {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;

    margin: 0;
}

.home #locations-illustration {
    height: 14vw;
    width: 100%;

    padding: 1vw 0;
}

.home #locations-titles {
    display: flex;

    width: 100%;
}

.home #locations-titles .location {
    flex: 1;
}

.home #our-story {
    display: flex;
    justify-content: center;

    min-height: 40rem;
    width: 100%;

    padding: 0;

    background: linear-gradient(135deg, var(--branding-blue) 0%, var(--branding-blue-dark) 100%);
    border-bottom: 0.15rem solid white;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 5rem;
}

.home #our-story .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 52rem;

    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
}

.home #our-story h2 {
    font-size: 3.5rem;
    text-align: center;
}

.home #connect,
.home #engage,
.home #grow {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;

    max-width: 60rem;
    width: 100%;

    padding: 0;

    font-size: 1.2rem;
    text-align: center;
}

.home #engage,
.page-id-116 #engage {
    margin: 5rem 0;
}

.home #connect h2,
.home #engage h2,
.home #grow h2 {
    margin: 1.5rem 1rem;

    color: var(--branding-yellow);
    font-size: 3.5rem;
    text-align: right;
    text-transform: uppercase;
}

@media screen and (min-width: 30rem) {
    .home #connect h2,
    .home #engage h2,
    .home #grow h2 {
        font-size: 5.5rem;
    }
}

.home #connect h3,
.home #engage h3,
.home #grow h3 {
    box-sizing: border-box;

    width: 24rem;

    margin: 0;
    padding: 0 1rem;

    font-size: 1.8rem;
    text-align: left;
}

.home #connect p,
.home #engage p,
.home #grow p {
    align-self: flex-end;
    box-sizing: border-box;

    padding: 0 1rem;

    text-align: right;
}

.home #connect h3,
.page-id-116 #connect h3 {
    width: 21rem;
}

.home #engage h2 {
    color: var(--branding-blue-text);
    text-align: left;
}

.home #engage h3 {
    align-self: flex-end;
    right: 1rem;

    text-align: right;
}

.home #engage p,
.page-id-116 #engage p {
    align-self: flex-start;

    margin-right: 0;
    margin-left: 1rem;

    text-align: left;
}

@media screen and (min-width: 50rem) {
    .home #connect h3,
    .home #engage h3,
    .home #grow h3 {
        position: absolute;
        top: 8rem;
        left: 1rem;

        padding: 0;
    }

    .home #engage h3 {
        align-self: unset;
        left: unset;

        width: 19rem;
    }

    .home #connect p,
    .home #engage p,
    .home #grow p {
        width: 24rem;

        margin-right: 1rem;
        padding: 0;
    }
}

.home #grow h3 {
    bottom: 1rem;
    top: unset;
}

.home .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 3rem;
}

.home .cards a {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex: 0 0 15.4rem;

    height: 15.4rem;

    border: 0.3rem solid white;
    border-radius: 0.06rem;
    margin: 0 1rem 1rem;
    padding: 1rem;

    color: white;
    font-family: filson-pro, sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
}


.home .cards a img {
    align-self: center;

    min-height: 0;
    min-width: 0;
    max-width: 12rem;
}

@media screen and (min-width: 58rem) {
    .home .cards a:first-child {
        margin-left: 0;
    }

    .home .cards a:last-child {
        margin-right: 0;
    }
}

.home .cards a::after {
    content: "\f178";
    position: absolute;
    right: 1.25rem;
    bottom: 1rem;

    font-family: FontAwesome;
    font-size: 2rem;

    transition: right 0.3s;
}

.home .cards a:hover::after {
    right: 0.9rem;

    transition: right 0.3s;
}

.home #engage .cards a {
    box-sizing: border-box;
    flex-basis: 58rem;
    max-width: 100%;
}

#case-study {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    margin-bottom: 4rem;
    width: 100%;
}

#case-study-tag {
    width: 9rem;

    border: 0.15rem solid white;
    padding: 0.3rem 0.6rem;
    margin: 0 0 0 1rem;

    background: var(--branding-blue);
    font-size: 1.4rem;
}

.home #newsletter-signup,
.page-id-116 #newsletter-signup {
    border-top: none;
}

.home #blog,
.page-id-116 #blog,
.page-template-page_learn #blog {
    display: flex;
    flex-direction: column;

    width: 100%;

    background-color: #FAFAFA;
    color: var(--branding-blue-text);
    padding-bottom: 4rem;
}

.home #blog h2,
.page-id-116 #blog h2 {
    font-size: 4rem;
    text-align: center;
}

#blog h2 a,
#blog h3 a {
    text-decoration: none;
}

#blog .cta {
    align-self: center;

    width: 8rem;

    text-align: center;
}

/* Default page template */

body.page-template-default,
body.page-template-page_story,
body.page-template-page_learn,
body.page-template-page_service,
body.page-template-page_creative,
body.blog,
body.single-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.page-template-default main,
.page-template-page_service main,
.page-template-page_creative main {
    flex: 1;
}

.page-template-default:not(.page-id-116) article {
    max-width: 60rem;
    width: 100%;
}

.page-template-default #page-title,
.page-template-page_service #page-title,
.page-template-page_creative #page-title,
.page-template-page_story #page-title {
    font-size: 3rem;
    padding: 0 1rem;
    text-align: center;
}

/* Services pages */

.services-nav {
    display: flex;
    flex: 1 0 8rem;
    overflow: hidden;

    width: 100%;

    border-top: 0.15rem solid white;
    border-bottom: 0.15rem solid white;

    background: var(--branding-blue);
    font-family: filson-pro, sans-serif;
    font-size: 1.2rem;
}

.services-nav a {
    align-self: center;
    box-sizing: border-box;
    position: relative;

    width: 50%;

    padding: 1rem 0.5rem;

    color: white;
    text-align: center;
    text-decoration: none;

    transition: left 0.3s, right 0.3s;
}

.services-nav a:first-child {
    right: 0;
    padding-left: 3rem;
}

.services-nav a:first-child:hover {
    right: 1.4rem;

    transition: right 0.25s;
}

.services-nav a:first-child::before {
    content: "\f177";
    position: absolute;
    left: 0.75rem;
    top: calc(50% - 0.75rem);

    font-family: FontAwesome;
    font-size: 1.5rem;
}

.services-nav a:last-child {
    left: 0;
    padding-right: 3rem;
}

.services-nav a:last-child:hover {
    left: 1.4rem;

    transition: left 0.25s;
}

.services-nav a:last-child::after {
    content: "\f178";
    position: absolute;
    right: 0.75rem;
    top: calc(50% - 0.75rem);

    font-family: FontAwesome;
    font-size: 1.5rem;
}

@media screen and (min-width: 30rem) {
    .services-nav {
        font-size: 1.6rem;
    }

    .services-nav a:first-child::before,
    .services-nav a:last-child::after {
        font-size: 2rem;
    }
}

.page-template-page_service article,
.page-template-page_creative article {
    align-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 100%;
}

.page-template-page_service article > *,
.page-template-page_creative article > * {
    align-self: center;
}

.page-template-page_service article p ,
.page-template-page_creative article p {
    box-sizing: border-box;

    max-width: 60rem;
    width: 100%;

    padding: 0 0.5rem;

    font-size: 1.2rem;
}

.page-template-page_service article h3,
.page-template-page_creative article h3 {
    font-size: 1.8rem;

    text-align: center;
    margin: 2rem 0;
}

.page-template-page_service .paragraph-container,
.page-template-page_creative .paragraph-container {
    text-align: center;
}

#services-detail {
    align-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    width: 100%;

    border-top: 0.15rem solid white;
    border-bottom: 0.15rem solid white;
    margin: 2rem 0;
    padding: 4rem 0.5rem;

    background: linear-gradient(195deg, var(--branding-blue) 0%, var(--branding-blue-dark) 90%);
    color: white;
}

#services-detail > * {
    align-self: center;
}

#services-detail h3 {
    margin: 0 0 1rem;

    font-size: 2.5rem;
}

#services-detail > div {
    display: flex;
    flex-wrap: wrap;

    padding: 1rem 0;
}

#services-detail ul {
    margin: 0;
}

.page-template-page_creative article .creative-cta {
    display: flex;
    flex-direction: column;

    width: 100%;

    padding: 4rem 0rem;

    background: var(--branding-blue);
}

.page-template-page_creative article .creative-cta p {
    align-self: center;
    font-size: 1.6rem;
}


@media screen and (min-width: 50rem) {
    .split-text {
        display: flex;

        max-width: 80rem;
    }

    .split-text p {
        margin: 1rem;
    }

    .split-text p:first-child{
        padding: 1.5rem 1rem 0 2rem;
        font-size: 1.3rem;
        line-height: 1.7em;
    }

    .split-text p:last-child {
        max-width: 30rem;
        padding: 0 1rem;

        font-size: 1.9rem;
        line-height: 1.3em;
        text-align: right;
    }

    .split-text.alt p:last-child{
        max-width: unset;

        padding: 5.5rem 2rem 0 1rem;

        font-size: 1.5rem;
        line-height: 1.5em;
    }

    .split-text.alt p:first-child {
        max-width: 40%;

        padding: 0 1rem;

        font-size: 2rem;
        line-height: 1.5em;
    }
}

.split-text.alt {
    padding-bottom: 4rem;
}

article p.centered {
    margin-top: 3rem;

    font-size: 1.3rem;
    text-align: center;
}

#portfolio {
    width: 100%;

    padding: 0 0 3rem;

    background: white;
    color: var(--branding-blue-text);
}

#portfolio .services {
    display: flex;

    max-width: 80rem;

    border-bottom: 0.15rem solid var(--branding-blue);
    margin: 0 auto 3rem;
    padding-bottom: 3rem;
}

#portfolio .services div {
    flex: 1;
}

#portfolio .services div p {
    font-size: 1.6rem;
    text-align: center;
}

#portfolio .services div ul {
    max-width: 15rem;
    margin: 0 auto;
}

#portfolio #controls {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    height: 3.6rem;
    max-width: 80rem;

    margin: 0 auto 2rem;
    padding: 0.5rem 0.25rem;

    background: white;
    box-shadow: 0 0 0.2rem transparent;
}

#portfolio #controls h3 {
    margin: 0;

    font-size: 2rem;
}

#portfolio-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0.05rem solid var(--branding-blue-dark);
    border-radius: 0;
    padding: 0.5rem 1.7rem 0.5rem 0.2rem;

    background: white;
    color: var(--branding-blue-text);
    font-family: filson-pro, sans-serif;
    font-size: 1rem;
}

#portfolio-select:focus,
#portfolio-select:-moz-focusring {
    box-shadow: 0 0 0.2rem var(--branding-blue);

    outline: none;

    color: transparent;
    text-shadow: 0 0 0 var(--branding-blue-text);
}

#portfolio-select + label {
    pointer-events: none;
    position: absolute;
    top: 0.55rem;
    right: 0.5rem;

    height: 1.5rem;
    width: 1.5rem;

    padding: 0.7rem 0 0.3rem;

    background: transparent;
    text-align: center;
}

#portfolio-select option {
    color: black;
}

@media screen and (min-width: 36rem) {
    #portfolio #controls {
        padding: 0.5rem 1rem;
    }

    #portfolio-select + label {
        right: 1.1rem;
    }
}

.attached-controls #portfolio #controls {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    margin-bottom: 0;

    box-shadow: 0 0 0.2rem var(--branding-blue);
}

.attached-controls #portfolio-container {
    padding-top: 5.6rem;
}

.attached-controls #menu-toggle {
    display: none;
}

#portfolio .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 80rem;

    margin: 0 auto;
}

#portfolio .card {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 calc(100% * 0.31);
    flex-direction: column;
    overflow: hidden;
    position: relative;

    height: calc(100vw * 0.31);
    width: calc(100% * 0.31);

    margin: calc(100vw * 0.01);
    padding: 0;
}

@media screen and (min-width: 80rem) {
    #portfolio .card {
        flex: 0 0 calc(80rem * 0.31);

        height: calc(80rem * 0.31);
        width: calc(80rem * 0.31);

        margin: calc(80rem * 0.01);
    }
}

#portfolio .card .front {
    align-self: center;
    cursor: zoom-in;
    display: flex;
    justify-content: center;

    height: 100%;
    width: 100%;

    transform: rotateX(90deg);
    transform-origin: 50% 50%;

    transition: 0.25s transform;
}

#portfolio .card .front img {
    align-self: center;

    height: 100%;
}

#portfolio .card .front img.portrait {
    height: auto;
    width: 100%;
}

#portfolio .card .back {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: linear-gradient(var(--branding-blue) calc((1rem + 100%) * -4), var(--branding-yellow) calc(1rem + 100%));

    transform: rotateX(0deg);
    transform-origin: 50% 50%;

    transition: 0.25s transform;
    transition-delay: 0.25s;
}

#portfolio .branded .card.branded .front,
#portfolio .design .card.design .front,
#portfolio .photography .card.photography .front {
    transform: rotateX(0deg);

    transition-delay: 0.75s;
}

#portfolio .branded .card.branded .back,
#portfolio .design .card.design .back,
#portfolio .photography .card.photography .back {
    transform: rotateX(-90deg);

    transition-delay: 0.5s;
}

#portfolio .card:nth-child(-n+12) .back {
    background: linear-gradient(var(--branding-blue) calc((1rem + 100%) * -3), var(--branding-yellow) calc((1rem + 100%) * 2));
}

#portfolio .card:nth-child(-n+9) .back {
    background: linear-gradient(var(--branding-blue) calc((1rem + 100%) * -2), var(--branding-yellow) calc((1rem + 100%) * 3));
}

#portfolio .card:nth-child(-n+6) .back {
    background: linear-gradient(var(--branding-blue) calc((1rem + 100%) * -1), var(--branding-yellow) calc((1rem + 100%) * 4));
}

#portfolio .card:nth-child(-n+3) .back {
    background: linear-gradient(var(--branding-blue) 0, var(--branding-yellow) calc((1rem + 100%) * 5));
}

#portfolio #lightbox {
    display: none;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, 0.95);
}

body.lightbox-active {
    overflow: hidden;
}

.lightbox-active #portfolio #lightbox {
    display: flex;
}

#portfolio #lightbox figure {
    align-self: center;
    box-sizing: border-box;
    display: none;
    flex: 0 0 100%;

    margin: 0;
}
#portfolio #lightbox[data-index="1"] figure { margin: 0 100% 0 -100%; }
#portfolio #lightbox[data-index="2"] figure { margin: 0 200% 0 -200%; }
#portfolio #lightbox[data-index="3"] figure { margin: 0 300% 0 -300%; }
#portfolio #lightbox[data-index="4"] figure { margin: 0 400% 0 -400%; }
#portfolio #lightbox[data-index="5"] figure { margin: 0 500% 0 -500%; }
#portfolio #lightbox[data-index="6"] figure { margin: 0 600% 0 -600%; }
#portfolio #lightbox[data-index="7"] figure { margin: 0 700% 0 -700%; }

#portfolio .branded #lightbox .branded,
#portfolio .design #lightbox .design,
#portfolio .photography #lightbox .photography {
    display: flex;
}

#portfolio #lightbox img,
#portfolio #lightbox video {
    background: white;
    display: block;
    width: 100%;
}

#portfolio #lightbox-close {
    cursor: pointer;

    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    border: none;

    background: transparent;
    color: white;
    font-size: 2rem;
    text-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);
}

article h3.work-title {
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;

    max-width: 58rem;
    width: 100%;

    margin: 1rem 0 0;
    padding: 1rem 3rem;

    color: white;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
}

@media screen and (min-width: 30rem) {
    article h3.work-title {
        margin: 3rem 0 4rem;
        font-size: 2.2rem;
    }
}

@media screen and (min-width: 40rem) {
    article h3.work-title {
        margin: 3rem 0 4rem;
        font-size: 2.8rem;
    }
}

.work-title .blank-line {
    height: 0.5em;
}

.work-sections {
    align-self: center;
    display: flex;
    position: relative;

    margin-bottom: 5rem;

    width: 82rem;
    max-width: 100%;
    box-sizing: border-box;
}

.work-sections > section,
.work-sections-toggle span {
    position: relative;
    left: 0;

    min-width: 100%;

    transition: opacity 1.0s, left 1.0s;
}

.work-sections.second-section > section:first-child,
.work-sections.second-section > section:nth-child(2),
.work-sections.second-section .work-sections-toggle span:first-child,
.work-sections.second-section .work-sections-toggle span:nth-child(2) {
    left: -100%;
}

.work-sections.second-section > section:first-child,
.work-sections:not(.second-section) > section:nth-child(2),
.work-sections.second-section .work-sections-toggle span:first-child,
.work-sections:not(.second-section) .work-sections-toggle span:nth-child(2) {
    opacity: 0;
}

.work-sections-toggle {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    position: absolute;
    bottom: -2rem;
    left: calc(50% - 6rem);

    padding: 0.5rem 0;

    width: 12rem;
}

.work-sections-toggle span:first-child::after,
.work-sections-toggle span:last-child::before {
    position: relative;

    font-family: FontAwesome;
}

.work-sections-toggle span:first-child::after {
    content: '\f178';

    left: 0.5rem;
}

.work-sections-toggle span:last-child::before {
    content: '\f177';

    right: 0.5rem;
}

.approach,
.results {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

article .approach div,
article .approach > p {
    align-self: center;
    box-sizing: border-box;

    max-width: 50rem;

    text-align: center;
}

article .approach div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
}

article .approach div p {
    align-self: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;

    max-width: 40rem;
    width: calc(100% - 2rem);

    border: 0.3rem solid white;
    padding: 1rem 0.5rem;
    margin: 0.5rem;

    font-size: 1.2rem;
}

@media screen and (min-width: 30rem) {
    article .approach div p {
        padding: 2rem 1rem;

        font-size: 1.4rem;
    }
}

@media screen and (min-width: 40rem) {
    article .approach div {
        flex-direction: row;
    }

    article .approach div p {
        align-self: unset;

        max-width: 16rem;
        width: 100%;

        margin: 1rem 0.5rem;
    }

    article .approach div p:first-child {
        position: relative;
        top: -12vw;
    }

    article .approach div p:nth-child(2) {
        position: relative;
        top: -6vw;
    }
}

article .approach p {
    font-size: 1.4rem;
}

article .approach > p {
    font-size: 1.2rem;

    padding: 0 0.5rem;
}

#audience-growth-chart-container {
    display: none;
}

#audience-growth-chart {
    align-self: center;
    box-sizing: border-box;
    display: none;

    height: 50vw;
    width: 100%;

    margin: 2rem 0;
}

#audience-growth-chart-image {
    flex: 0 1 50vw;

    height: 50vw;

    margin: 2rem 0;
}

@media screen and (min-width: 40rem) {
    article .approach > p {
        font-size: 1.7rem;
    }

    #audience-growth-chart-container {
        display: block;
    }

    #audience-growth-chart-image {
        display: none;
    }
}

.chart-labels {
    display: block;
    position: relative;

    max-width: 80rem;
    width: 100%;
}

.chart-label {
    border: 0.3rem solid white;

    background: rgba(255, 255, 255, 0.2);
    color: white;
}

.chart-label .text {
    font-size: 1rem;
}

.chart-label .value,
.chart-label .percent {
    font-size: 1.4rem;
}

.chart-label .percent {
    color: var(--branding-yellow);
}

.chart-label.total {
    display: flex;
    flex-direction: column;

    width: 15rem;

    margin: 0 auto;
    padding: 0.5rem 0.5rem 0.8rem;

    line-height: 1.7rem;
    text-align: center;
}

.chart-label.total.alt {
    margin: 1rem auto;
}

.chart-label.total .text {
    font-size: 1.2rem;
}

.chart-label.total .value {
    margin: 0.4rem 0 0.6rem;
}

.chart-label.total .percent {
    color: var(--branding-blue);
    font-size: 1.8rem;
}

.chart-label.total.alt .percent {
    color: var(--branding-yellow);
}

.chart-label.growth {
    box-sizing: border-box;

    width: 20rem;

    margin: 1rem auto 1rem;
    padding: 0 0.5rem;

    line-height: 1.75rem;
    text-align: center;
}

.chart-label.growth .networks {
    display: flex;
    padding: 0.4rem 0;
}

.chart-label.growth .networks > * {
    display: flex;
    flex: 1;
    flex-direction: column;

    text-align: center;
}

.chart-label.growth .networks .text {
    font-weight: normal;
}

.chart-label.over-time {
    max-width: 24rem;

    border-width: 0.4rem;
    margin: 0 auto;
    padding: 0.5rem;

    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 25rem) {
    .chart-label.over-time {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 40rem) {
    .chart-labels {
        margin: 4rem 0 -2rem;
    }

    .chart-label.total {
        position: absolute;
        top: -8.5rem;
        left: 0.5rem;

        margin: 0;
    }

    .chart-label.total.alt {
        left: unset;
        right: 0.5rem;

        margin: 0;
    }

    .chart-label.growth {
        position: absolute;
        top: -9rem;
        right: 0.5rem;

        margin: 0;
    }
    .chart-label.over-time {
        max-width: 30rem;

        font-size: 2rem;
    }
}

@media screen and (min-width: 74rem) {
    .chart-label.total {
        position: absolute;
        top: -8.5rem;
        left: 1rem;
    }

    .chart-label.growth {
        position: absolute;
        top: -9rem;
        right: 0;
    }

    .chart-label.over-time {
        position: absolute;
        left: calc(50% - 15rem);
        bottom: 0;

        width: 30rem;

        margin: 0;
    }
}

.video {
    display: flex;
    flex-direction: column;

    width: 100%;

    margin-bottom: 5rem;
}

.video iframe {
    flex: 1 1 40rem;

    max-height: 56.25vw;
    width: 100%;
}

/* Story page */

.page-template-page_story main {
    background: linear-gradient(270deg, var(--branding-blue) 0%, var(--branding-yellow) 100%);
}

.page-template-page_story #story {
    box-sizing: border-box;

    max-width: 64rem;
    width: 100%;

    margin: 2rem 0;
    padding: 0 0.5rem;

    font-size: 1.2rem;
}

#the-ori {
    -webkit-column-width: 26rem;
    -moz-column-width: 26rem;
    column-width: 26rem;
    margin-bottom: 4rem;
}

#the-ori > p:first-child {
    margin-top: 0;
}

#mobile-more {
    display: none;
}

@media screen and (min-width: 54.5rem) {
    #mobile-more {
        display: block;
    }
}

#the-ori .byline {
    font-size: 2rem;
}

#team {
    display: flex;
    flex-wrap: wrap;

}

#team h3 {
    flex: 1 0 100%;

    font-size: 3rem;
    text-align: center;
}

#team .person {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 calc(100% / 3);
    flex-direction: column;

    margin-bottom: 3rem;

    text-align: center;
    max-width: calc(100% / 3);
}

#team .person .images {
    box-sizing: border-box;
    position: relative;

    width: calc(100% - 1rem);

    margin: 0 0.5rem;
    padding: 0;
}

@media screen and (min-width: 30rem) {
    #team .person .images {
        width: 70%;

        margin: 0 15%;
    }
}

#team .person .images img {
    width: 100%;
}

#team .person .images .silly {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    transition: 0.5s opacity;
}

#team .person .images:hover .silly {
    opacity: 1;

    transition: 0.3s opacity;
}

#team .person .name {
    font-size: 1rem;
    line-height: 1.1rem;
    padding: 0 0 0.5rem;
}

#team .person .title,
#team .person .team {
    font-size: 0.8rem;
    line-height: 1.2rem;
}

@media screen and (min-width: 30rem) {
    #team .person .name {
        font-size: 1.3rem;
        line-height: 1.3rem;
        padding: 0.85rem 0;
    }

    #team .person .title,
    #team .person .team {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

#team .person .title::after {
    content: ',';
}

#opportunities {
    font-size: 2.4rem;

    text-align: center;
}

@media screen and (min-width: 30rem) {
    #opportunities {
        font-size: 3rem;
    }
}

/* Learn page */

.page-template-page_learn h2 {
    padding: 0 1rem;

    font-size: 4rem;
    text-align: center;
}

.page-template-page_learn h3 {
    font-size: 3rem;
    text-align: center;
}

.page-template-page_learn p {
    font-size: 1.2rem;
}

.page-template-page_learn #learn,
.page-template-page_learn #events,
.page-template-page_learn #webinars {
    padding: 0 1rem 4rem;
}

.page-template-page_learn #blog p,
.page-template-page_learn #webinars p {
    text-align: center;
}

.page-template-page_learn #blog p {
    padding: 0 1rem;
    margin-bottom: 2rem;
}

/* Bio pages */

body.page-template-page_bio {
    box-sizing: border-box;
    display: flex;
    overflow-y: scroll;
    position: relative;

    min-height: 100vh;
    width: 100%;

    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-evenly;

    background: linear-gradient(to bottom, var(--branding-blue) 0%, var(--branding-yellow) 80%);

    transition: box-shadow 0.1s;
    padding: 0.5rem;
}

.page-template-page_bio #site-header {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex: 0 0 5rem;

    max-height: 5rem;
    margin-bottom: 1rem;

    background: transparent;
}

.page-template-page_bio #site-header a,
.page-template-page_bio #site-header img {
    height: 100%;
}

.page-template-page_bio main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    max-width: 23rem;
    width: 100%;

    padding: 4rem 2rem;

    border-radius: 0.3rem;

    background: white;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.08);
    color: var(--branding-blue-text);
}

.page-template-page_bio main .photos,
.page-template-page_bio main .info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    width: 100%;

    margin: 0;
}

@media screen and (min-width: 45rem) {
    .page-template-page_bio #site-header {
        position: fixed;
        top: 0;
        left: 0;
        justify-content: flex-end;

        max-height: 7rem;
        flex: 0 0 7rem;

        padding: 0.5rem;
    }

    .page-template-page_bio main {
        flex-direction: row;
        max-width: 45rem;
        flex: 0 0 24rem;
        color: var(--branding-blue-text);
    }

    .page-template-page_bio main .photos,
    .page-template-page_bio main .info {
        width: 50%;
    }
}

.page-template-page_bio main .photos {
    position: relative;

    min-height: 16rem;
}

.page-template-page_bio main .photo {
    align-self: center;

    height: 16rem;
    width: 16rem;

    border-radius: 8rem;
    outline: none;

    background: var(--branding-blue);
}

.page-template-page_bio main .photo.alt {
    opacity: 0;

    margin-top: -16rem;

    transition: opacity 0.5s;
}

.page-template-page_bio main .photo.alt:hover {
    opacity: 1;

    transition: opacity 0.2s;
}

.page-template-page_bio main .info {
    padding: 1rem 0 1rem 1rem;
}

.page-template-page_bio main .name,
.page-template-page_bio main .title {
    margin: 0;
}

.page-template-page_bio main .name {
    font-size: 2rem;
}

.page-template-page_bio main .title {
    margin-top: 1rem;

    font-size: 1.3rem;
}

.page-template-page_bio main .social {
    display: flex;
}

.page-template-page_bio main .social a {
    margin: 0 0.2rem;
    padding: 0.3rem;

    width: 1.8rem;

    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
}

.page-template-page_bio main .social a:first-child {
    margin-left: -0.5rem;
}

/* Blog home styles */

.blog main {
    color: var(--branding-blue-text);
}

.blog main > article {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#blog-posts {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    max-width: 20rem;
    width: 100%;

    margin-bottom: 1rem;
}

@media screen and (min-width: 40rem) {
    #blog-posts {
        max-width: 40rem;
    }
}

@media screen and (min-width: 60rem) {
    #blog-posts {
        max-width: 60rem;
    }
}

#blog-posts .blog-post {
    display: flex;
    position: relative;
    overflow: hidden;

    height: 18rem;
    width: 18rem;

    margin: 0 1rem 3rem;

    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

#blog-posts .blog-post img {
    height: 65%;
    width: 130%;

    margin: 0 -15%;

    opacity: 0.8;

    background: linear-gradient(135deg, var(--branding-yellow) 0%, var(--branding-yellow-dark) 100%);

    transition: margin 0.5s, height 0.5s, width 0.5s, opacity 0.5s;
}

#blog-posts .blog-post:hover img {
    height: 70%;
    width: 140%;

    opacity: 1;

    margin: -2.5% -20%;

    transition: margin 0.3s, height 0.3s, width 0.3s, opacity 0.3s;
}

#blog-posts .blog-post .title {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;

    height: 35%;
    width: 100%;

    margin: 0;
    padding: 0.5rem;

    color: var(--branding-blue-text);
    background: white;
    font-size: 1.3rem;
    font-weight: normal;
}


#blog-posts .blog-post time {
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;

    padding: 0.3rem;

    background: white;
    color: var(--branding-blue-text);
    font-size: 0.9rem;
}

#blog-title {
    font-size: 4rem;
    padding: 0 1rem;
    text-align: center;
}

/* Blog post */

.single-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


.single-post #home-link-top,
.single-post #home-link-top img {
    max-width: 6rem;
    width: 6rem;
}

.single-post main {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    border-top: 0.15rem solid white;

    color: var(--branding-blue-text);
}

.single-post #post-header {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.single-post #post-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 50vw;

    color: white;
    position: relative;
}

.single-post #featured-image {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    border: none;
    outline: none;

    background: linear-gradient(var(--branding-yellow) 0%, var(--branding-yellow-dark));
}

.single-post #categories {
    align-self: center;
    box-sizing: border-box;
    position: relative;

    max-width: 70rem;
    width: 100%;

    margin: 0;
    padding: 0 1rem;

    font-size: 1rem;
    text-transform: uppercase;
    text-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
}

.single-post #categories a {
    text-decoration: none;
}

.single-post #post-title {
    align-self: center;
    box-sizing: border-box;
    position: relative;
    max-width: 70rem;
    width: 100%;

    margin: 1rem 0 2rem;
    padding: 0 1rem;

    font-size: 1.4rem;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.05);
}

.single-post #post-title a {
    color: white;
    text-decoration: none;
}

.single-post #post-meta {
    align-self: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -2rem;

    max-width: 72rem;
    height: 7.5rem;
    width: 100%;

    border-bottom: 0.15rem solid rgba(175, 191, 222, 0.5);
    padding: 2.8rem 0 0 8.2rem;
}

.single-post #author-avatar img {
    position: absolute;
    top: 0.5rem;
    left: 1rem;

    width: 6rem;

    border: 0.2rem solid white;
    border-radius: 50%;
}

@media screen and (min-width: 34rem) {
    .single-post #post-title {
        font-size: 2rem;
    }

    .single-post #post-meta {
        padding: 3.8rem 0 0 12.2rem;
        height: 10.5rem;
    }

    .single-post #author-avatar img {
        top: 0;

        width: 9rem;
    }
}

@media screen and (min-width: 50rem) {
    .single-post #post-title {
        font-size: 3.6rem;
        margin-bottom: 4rem;
    }
}

.single-post #author {
    align-self: flex-start;

    margin-bottom: 0.3rem;

    font-size: 1.35rem;
    text-decoration: none;
}

.single-post #post-meta time {
    font-style: italic;
}

.single-post #post {
    max-width: 50rem;
    font-size: 1.2rem;
    padding: 0 1rem;
}

#post .alignleft {
    float: left;
    margin: 1rem 2rem 1rem 0;
}

#post .aligncenter {
    margin: 0 auto;
    display: block;
}

#post .alignright {
    float: right;
    margin: 1rem 0 1rem 2rem;
}

.wp-caption-text {
    font-size: 0.9rem;
    text-align: center;
}

#blog-sidebar {
    min-width: 20rem;
}

/* Specific posts */

.postid-426 #post-banner {
    background: linear-gradient(to bottom, var(--branding-blue) 0%, var(--branding-yellow) 80%);
}

.postid-426 #featured-image {
    background: transparent;

    height: 70%
}

/* Admin bar fixes for homepage and bio page */

body.admin-bar.home,
body.admin-bar.page-id-116 {
    margin-top: -32px;
}

body.admin-bar.page-template-page_bio {
    min-height: calc(100vh - 32px);
}

.admin-bar #menu-toggle {
    top: calc(0.8rem + 32px);
}

@media screen and (max-width: 782px) {
    body.admin-bar.home,
    body.admin-bar.page-id-116 {
        margin-top: -46px;
    }

    body.admin-bar.page-template-page_bio {
        min-height: calc(100vh - 46px);
    }

    .admin-bar #menu-toggle {
        top: calc(0.8rem + 46px);
    }
}

/* FIXME Translation selection */
.wpml-ls-legacy-list-vertical {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;

    font-family: filson-pro, sans-serif;
}